<!DOCTYPE html>

{% load staticfiles %}

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">

    <title>Homebudget - aplikacja do zarządzania domowym budżetem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>

	<style>
		table {
    		font-family: arial, sans-serif;
    		border-collapse: collapse;
    		width: 100%;
		}

		td, th {
    		border: 1px solid #dddddd;
    		text-align: left;
    		padding: 8px;
		}

		tr:nth-child(even) {
    		background-color: #1a8cff;
		}

		.red {
    		color: red;
 		}

 		.green {
 		    color: green;
 		}

        .alert {
            padding: 20px;
            background-color: red;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
	</style>

 	<script type="text/javascript">
         function validate_nazwa()
          {
            var fnameval=document.getElementById("nazwa").value;
            var fnamelen=Number(fnameval.length);
               if(fnamelen==0)
               {
                  document.getElementById("fname_msg").innerHTML="<span class='red'>Nie wpisano nazwy</span>";
                }
               if (fnamelen>0)
               {
                  document.getElementById("fname_msg").innerHTML="<span class='green'>Pole uzupełnione</span>";
               }
           }
    </script>

	 <script type="text/javascript">
          function validate_kwota()
          {
            var fnameval=document.getElementById("kwota").value;
            var value = document.getElementById("kwota").value;
             var fnamelen=Number(fnameval.length);

             if(fnamelen==0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Nie wpisano kwoty</span>";
               }
               else if(fnameval.charAt(0)=="-"){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Wpisana kwota jest ujemna</span>";
                }
               else if(value==0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Kwota nie może wynosić 0</span>";
               }
               else if(fnameval>0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='green'>Pole uzupełnione</span>";
               }

            }
    </script>

	  <script type="text/javascript">
          function validate_data()
          {
            var fnameval=document.getElementByName("data").value;
            var fnamelen=Number(fnameval.length);
               if(fnameval==0)
               {
                  document.getElementById("fdata_msg").innerHTML="<span class='red'>Nie wpisano daty</span>";
                }
                if (fnameval>0)
               {
                  document.getElementById("fdata_msg").innerHTML="<span class='green'>Pole uzupełnione</span>";
               }
            }
      </script>



    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{% static 'js/background.js' %}"></script>




    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
    $( "#datepicker" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
     $( "#datepicker" ).datepicker( "option", "monthNames", [ "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec","Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień" ] );

          });

 </script>




  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation" >


	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ><b>Homebudget</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active">
	            <li><a href="podsumowanie_miesiaca" class="smothscroll">Podsumowanie miesiąca</a></li>
	            <li><a href="twoje_przychody" class="smothScroll">Twoje przychody</a></li>
				  <li><a href="skarbonka" class="smothScroll">Skarbonka</a></li>
				  <li><a href="twoje_wydatki" class="smothScroll">Twoje wydatki</a></li>
				  <li><a href="bilans_roczny" class="smothScroll">Bilans roczny</a></li>
				  <li><a href="logout" class="smothScroll">Wyloguj się </a></li>
	          </ul>
	        </div>
	      </div>
	    </div>


	<section id="skarbonka" name="skarbonka"></section>
	<div id="footerwrap">
		<div class="container">
			<form class="col-lg-12"></form>



            <h3>Twoje przychody</h3><hr>

<div class="alert" id="display">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Formularz zawierał błąd - spróbuj ponownie.</strong>
</div>


		<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form class="form-horizontal" method="post" action="add_income" onsubmit="add_income_message()">{% csrf_token %}{{form}}
     <div class="form-group ">

      <label class="control-label col-sm-2" for="kategoria">
       Kategoria
      </label>
      <div class="col-sm-10">
       <select class="select form-control" id="kategoria" name="kategoria" required>
        <option value="Pensja">
         Pensja
        </option>
        <option value="Umowa o dzieło ">
         Umowa o dzieło
        </option>
        <option value="Premia">
         Premia
        </option>
        <option value="Odsetki z lokat">
         Odsetki z lokat
        </option>
        <option value="Przychody z najmu">
         Przychody z najmu
        </option>
        <option value="Renta">
         Renta
        </option>
        <option value="Alimenty">
         Alimenty
        </option>
        <option value="Stypendia">
         Stypendia
        </option>
        <option value="Zwrot podatku">
         Zwrot podatku
        </option>
        <option value="Inne">
         Inne
        </option>
       </select>
      </div>
	 </div>
     <div class="form-group ">
      <label class="control-label col-sm-2">
       Typ
      </label>
      <div class="col-sm-10 ">
       <div class="checkbox">
        <label class="checkbox">
         <input   name="typ" type="checkbox" value="Jednorazowy" checked/>
         Jednorazowy
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input  name="typ" type="checkbox" value="Cykliczny"/>
         Cykliczny
        </label>

       </div>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="nazwa">
       Nazwa
      </label>
      <div class="col-sm-10">

        <input class="form-control" id="nazwa" name="nazwa" placeholder="Nazwa przychodu" type="text" onblur="validate_nazwa()" required/>
          <span id=fname_msg></span>

      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="kwota">
       Kwota
      </label>
      <div class="col-sm-10">
       <input class="form-control" id="kwota" name="kwota" placeholder="1000.00" type="number" step="0.01" min="0"  onblur="validate_kwota()" required/>
		  <span id=fkwota_msg></span>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="data">
       Data
      </label>
      <div class="col-sm-10">
      <input class="form-control" id="datepicker" name="data" placeholder="YYYY-MM-DD" type="text" onblur="validate_data()" required/>
		   <span id=fdata_msg></span>

      </div>
     </div>
     <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
       	<button type="submit" class="btn btn-large btn-info">Dodaj przychód</button>

      </div>
     </div>
    </form>
   </div><br><img src="{% static 'img/money-bag.png' %}" algin="center" >
  </div>
 </div>
</div>
<hr><br>



 <form class="form-horizontal" method="post" action="multiple_actions_on_incomes" >{% csrf_token %}{{form}}
     <div class="form-group ">

      <label class="control-label col-sm-5" for="miesiac">Wybierz miesiąc</label>
      <div class="col-sm-3">
       <select class="select form-control" id="miesiac" name="miesiac">
           <option><script type="text/javascript" src="{% static 'js/theStoredValue.js' %}">


           </script></option>
        <option value="1" >Styczeń</option>
        <option value="2" >Luty</option>
        <option value="3" >Marzec</option>
        <option value="4" >Kwiecień</option>
        <option value="5" >Maj</option>
        <option value="6" >Czerwiec</option>
        <option value="7" >Lipiec</option>
        <option value="8" >Sierpień</option>
        <option value="9" >Wrzesień</option>
        <option value="10">Październik</option>
        <option value="11">Listopad</option>
        <option value="12">Grudzień</option>
       </select>
      </div>
     </div>


 <label class="control-label col-sm-5" for="rok">Wybierz rok</label>
      <div class="col-sm-2">
       <select class="select form-control" id="rok" name="rok" >
         <option><script type="text/javascript" src="{% static 'js/theStoredValue2.js' %}">



         </script></option>
        <option value="2017" >2017</option>
        <option value="2018" >2018</option>
        <option value="2019" >2019</option>
        <option value="2020" >2020</option>
        <option value="2021" >2021</option>
        <option value="2022" >2022</option>
        <option value="2023" >2023</option>
        <option value="2024" >2024</option>
        <option value="2025" >2025</option>
       </select><br>
          <button type="submit" name="show" class="btn btn-large btn-info">Pokaż przychody</button>
      </div>





<br><br>
<br><br><br><hr>
<h3>Przychody jednorazowe</h3>
<table>
    <tr>
        <th>Kategoria</th>
        <th>Typ</th>
		<th>Nazwa</th>
		<th>Kwota</th>
		<th>Data</th>
		<th>Usuń</th>
    </tr>
    {% for item in query_result_1 %}
    <tr>
        <td>{{ item.kategoria }}</td>
        <td>{{ item.typ }}</td>
        <td>{{ item.nazwa }}</td>
		<td>{{ item.kwota }}</td>
		<td>{{ item.data }}</td>
		<td>
            <input type="hidden" name="item_month_non-cyclic" value="{{item.data.month}}"/>
            <input type="hidden" name="item_year_non-cyclic" value="{{item.data.year}}"/>
            <button type="submit" name="delete_non-cyclic"  value="{{item.id}}" class="btn btn-default" >Usuń</button>
		</td>
    </tr>
    {% endfor %}
</table>

<h3>Przychody cykliczne</h3>
<table>
    <tr>
        <th>Kategoria</th>
        <th>Typ</th>
		<th>Nazwa</th>
		<th>Kwota</th>
		<th>Data</th>
		<th>Usuń</th>
    </tr>
    {% for item in query_result_2 %}
    <tr>
        <td>{{ item.kategoria }}</td>
        <td>{{ item.typ }}</td>
        <td>{{ item.nazwa }}</td>
		<td>{{ item.kwota }}</td>
		<td>{{ item.data }}</td>
		<td>
            <input type="hidden" name="item_month_cyclic" value="{{item.data.month}}"/>
            <input type="hidden" name="item_year_cyclic" value="{{item.data.year}}"/>
            <button type="submit" name="delete_cyclic"  value="{{item.id}}" class="btn btn-default" >Usuń</button>
		</td>
    </tr>
    {% endfor %}
</table>
</form>
</div></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
