<!DOCTYPE html>

{% load staticfiles %}

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">

    <title>Homebudget - aplikacja do zarządzania domowym budżetem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>


  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ><b>Homebudget</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active">
	            <li><a href="podsumowanie_miesiaca" class="smothscroll">Podsumowanie miesiąca</a></li>
	            <li><a href="twoje_przychody" class="smothScroll">Twoje przychody</a></li>
				  <li><a href="skarbonka" class="smothScroll">Skarbonka</a></li>

				  <li><a href="twoje_wydatki" class="smothScroll">Twoje wydatki</a></li>
				  <li><a href="bilans_roczny" class="smothScroll">Bilans roczny</a></li>
				  <li><a href="logout" class="smothScroll">Wyloguj się </a></li>
	          </ul>
	        </div>
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-12">
				<h3>Budżet domowy</h3>
			<h3>Domowy budżet to coś więcej niż zbieranie paragonów i zeszyt z wydatkami.<br> To narzędzie, które pozwoli Ci kompleksowo rozumieć i uporządkować swoje finanse. Zatem do dzieła!  </h3>
			<br>
			<br>
			<img src="{% static 'img/intro005.png' %}" alt="">



			</div>

		</div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
