<!DOCTYPE html>

{% load staticfiles %}

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">

    <title>Homebudget - aplikacja do zarządzania domowym budżetem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
	<style>
		h1,h3{
		 color : #323232;
		}
	</style>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>Homebudget</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Home</a></li>
	            <li><a href="#desc" class="smothscroll">Funkcjonalności</a></li>
				  <li><a href="#showcase1" class="smothscroll">Zrzuty ekranu z aplikacji</a></li>
	            <li><a href="#contact" class="smothScroll">Zarejestruj się / Zaloguj się </a></li>
	          </ul>
	        </div>
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Witamy w aplikacji <b>Homebudget</b></h1>
					<h3>Zacznij zarządzać wydatkami swojej rodziny już dziś </h3>
					<br>
	    		</div>

	    		<div class="col-lg-2">
	    			<h5>Gdzie się podziały Twoje pieniądze ?</h5>
	    			<p>Zdefiniuj budżet na dowolną kategorię wydatków (np. na rachunki, samochód<br> czy prezenty).</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="/static/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="{% static 'img/front.png' %}" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="/static/img/arrow2.png">
	    			<h5>Przejrzyste wykresy</h5>
	    			<p>Wykresy kołowe<br> i słupkowe pozwolą Ci natychmiast zrozumieć, na co wydajesz najwięcej.</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Funkcjonalności Homebudget</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="{% static 'img/intro001.png' %}" alt="">
					<h3>Zarządzanie przychodami <br>i wydatkami</h3>
					Aplikacja pozwala na kontrolę twoich przychodów <br>i wydatków.</br>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'img/intro002.png' %} " alt="">
					<h3>Świnka skarbonka</h3>
					<p>Świnka skarbonka pozwala Ci odkładać co miesiąc na dowolny cel określoną kwotę. Świnka nie pozwoli o sobie zapomnieć, co miesiąc będzie Cię prosiła <br>o „nakarmienie". W każdej chwili możesz ją rozbić <br>i uwolnić środki.</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'img/intro003.png' %}" alt="">
					<h3>Generowanie zestawień</h3>
					<p>Dostęp do generowania plików pdf zawierających zestawienia finansów.</p>
				</div>
			</div>
			<br>

	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->


		<section id="showcase1" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Zrzuty ekranu z aplikacji</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
						  <li data-target="#carousel-example-generic" data-slide-to="4"></li>

					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">

					    <div class="item active">
					      <img src="static/img/1.png" alt="">
					    </div>
					    <div class="item">
					      <img src="static/img/2.png" alt="">
					    </div>
						  <div class="item">
					      <img src="static/img/3.png" alt="">
					    </div>
						  <div class="item">
					      <img src="static/img/4.png" alt="">
					    </div>
						  <div class="item">
					      <img src="static/img/5.png" alt="">
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div><!-- /container -->
	</div>








	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-4">
			<h3>Zacznij korzystać już teraz </h3>
			<br>
			<br>
			<img src="{% static 'img/intro004.png' %}" alt="">

			</div>

			<div class="col-lg-4">

				<br>


				<form role="form" action="home" method="post" enctype="plain"> {{ form }}{% csrf_token %}
				  <div class="form-group">

				    <label for="name1">Nazwa użytkownika</label>
				    <input type="name" name="name" class="form-control" id="name" placeholder="Nazwa użytkownika" required/>
				  </div>
				  <div class="form-group">
				  	 <label for="password">Hasło</label>
				    <input type="password" name="password" class="form-control" id="password" placeholder="Hasło" required/>
				  </div>
				  <br>


				  <button type="submit" class="btn btn-large btn-info">Zaloguj się </button>




				</form>
			</div>


			<div class="col-lg-4">

				<br>
				<form role="form" action="register" method="post" enctype="plain">{{ form }}{% csrf_token %}
				  <div class="form-group">
				    <label for="name1">Nazwa użytkownika</label>
				    <input type="name" name="name_register" class="form-control" id="name1" placeholder="Nazwa użytkownika" required/>
				  </div>

				  <div class="form-group">
				  	 <label for="password">Hasło</label>
				    <input type="password" name="password_register" class="form-control" id="password1" placeholder="Hasło" required/>
				  </div>

					<div class="form-group">
				    <label for="email1">Adres e-mail</label>
				    <input type="email" name="email" class="form-control" id="email1" placeholder="Adres e-mail" required/>
				  </div>
				  <br>
					<button type="submit" class="btn btn-large btn-info">Zarejestruj się </button>


				</form>
			</div>


		</div>
	</div>
	<div id="c">
		<div class="container">


		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
