<!DOCTYPE html>

{% load staticfiles %}

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">

    <title>Homebudget - aplikacja do zarządzania domowym budżetem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>


    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  	<script src="{% static 'js/background.js' %}"></script>

            <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ><b>Homebudget</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active">
	            <li><a href="podsumowanie_miesiaca" class="smothscroll">Podsumowanie miesiąca</a></li>
	            <li><a href="twoje_przychody" class="smothScroll">Twoje przychody</a></li>
				  <li><a href="skarbonka" class="smothScroll">Skarbonka</a></li>
				  <li><a href="twoje_wydatki" class="smothScroll">Twoje wydatki</a></li>
				  <li><a href="bilans_roczny" class="smothScroll">Bilans roczny</a></li>
				  <li><a href="logout" class="smothScroll">Wyloguj się </a></li>
	          </ul>
	        </div>
	      </div>
	    </div>


	<section id="podsumowanie_miesiaca" name="podsumowanie_miesiaca"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-12">

			<h3>Podsumowanie miesiąca</h3><hr>


			<form class="form-horizontal" method="post" action="monthly_bilance" >{% csrf_token %}{{form}}
     <div class="form-group ">

      <label class="control-label col-sm-5" for="miesiac">Wybierz miesiąc</label>
      <div class="col-sm-3">
       <select class="select form-control" id="miesiac" name="miesiac">
           <option><script type="text/javascript" src="{% static 'js/theStoredValue.js' %}">


           </script></option>
        <option value="1" >Styczeń</option>
        <option value="2" >Luty</option>
        <option value="3" >Marzec</option>
        <option value="4" >Kwiecień</option>
        <option value="5" >Maj</option>
        <option value="6" >Czerwiec</option>
        <option value="7" >Lipiec</option>
        <option value="8" >Sierpień</option>
        <option value="9" >Wrzesień</option>
        <option value="10">Październik</option>
        <option value="11">Listopad</option>
        <option value="12">Grudzień</option>
       </select>
      </div>
     </div>


 <label class="control-label col-sm-5" for="rok">Wybierz rok</label>
      <div class="col-sm-2">
       <select class="select form-control" id="rok" name="rok" >
         <option><script type="text/javascript" src="{% static 'js/theStoredValue2.js' %}">



         </script></option>
        <option value="2017" >2017</option>
        <option value="2018" >2018</option>
        <option value="2019" >2019</option>
        <option value="2020" >2020</option>
        <option value="2021" >2021</option>
        <option value="2022" >2022</option>
        <option value="2023" >2023</option>
        <option value="2024" >2024</option>
        <option value="2025" >2025</option>
       </select><br>
          <button type="submit" name="monthly_bilance" class="btn btn-large btn-info">Pokaż bilans</button>
	  </div>
        </form>



			</div></div></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
