<!DOCTYPE html>

{% load staticfiles %}

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">

    <title>Homebudget - aplikacja do zarządzania domowym budżetem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>

	<style>
		table {
    		font-family: arial, sans-serif;
    		border-collapse: collapse;
    		width: 100%;
		}

		td, th {
    		border: 1px solid #dddddd;
    		text-align: left;
    		padding: 8px;
		}

		tr:nth-child(even) {
    		background-color: #1a8cff;
		}

		.red {
    		color: red;
 		}

 		.green {
 		    color: green;
 		}



	</style>



	 <script type="text/javascript">
          function validate_kwota()
          {
            var fnameval=document.getElementById("kwota").value;
            var value = document.getElementById("kwota").value;
             var fnamelen=Number(fnameval.length);

             if(fnamelen==0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Nie wpisano kwoty</span>";
               }
               else if(fnameval.charAt(0)=="-"){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Wpisana kwota jest ujemna</span>";
                }
               else if(value==0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='red'>Kwota nie może wynosić 0</span>";
               }
               else if(fnameval>0){
                  document.getElementById("fkwota_msg").innerHTML="<span class='green'>Pole uzupełnione</span>";
               }

            }
    </script>

	  <script type="text/javascript">
          function validate_data()
          {
            var fnameval=document.getElementByName("data").value;
            var fnamelen=Number(fnameval.length);
               if(fnameval==0)
               {
                  document.getElementById("fdata_msg").innerHTML="<span class='red'>Nie wpisano daty</span>";
                }
                if (fnameval>0)
               {
                  document.getElementById("fdata_msg").innerHTML="<span class='green'>Pole uzupełnione</span>";
               }
            }
      </script>



    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{% static 'js/background.js' %}"></script>

    <script src="http://www.google.com/jsapi"></script>
<script src="static/chartkick.js"></script>


    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
    $( "#datepicker" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
     $( "#datepicker" ).datepicker( "option", "monthNames", [ "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec","Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień" ] );

          });

 </script>




  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation" >


	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ><b>Homebudget</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active">
	            <li><a href="podsumowanie_miesiaca" class="smothscroll">Podsumowanie miesiąca</a></li>
	            <li><a href="twoje_przychody" class="smothScroll">Twoje przychody</a></li>
				  <li><a href="skarbonka" class="smothScroll">Skarbonka</a></li>
				  <li><a href="twoje_wydatki" class="smothScroll">Twoje wydatki</a></li>
				  <li><a href="bilans_roczny" class="smothScroll">Bilans roczny</a></li>
				  <li><a href="logout" class="smothScroll">Wyloguj się </a></li>
	          </ul>
	        </div>
	      </div>
	    </div>


	<section id="skarbonka" name="skarbonka"></section>
	<div id="footerwrap">
		<div class="container">
			<form class="col-lg-12"></form>



            <h3>Skarbonka</h3><hr>




		<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-7 col-sm-6 col-xs-12">
    <form class="form-horizontal" method="post" action="multiple_actions_on_piggy">{% csrf_token %}
		<h3 style="color : green">W skarboncę znajduję się : {{state}} PLN</h3><br>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="kwota">
       Kwota
      </label>
      <div class="col-sm-10">
       <input class="form-control" id="kwota" name="kwota" placeholder="1000.00" type="number" step="0.01" min="0"  onblur="validate_kwota()" required/>
		  <span id=fkwota_msg></span>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="data">
       Data
      </label>
      <div class="col-sm-10">
      <input class="form-control" id="datepicker" name="data" placeholder="YYYY-MM-DD" type="text" onblur="validate_data()" required/>
		   <span id=fdata_msg></span>

      </div>
     </div>
     <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
       	<button type="submit" name="add_to_piggy" class="btn btn-large btn-info">Wrzuć pieniądze do skarbonki</button>
		<button type="submit" name="delete_from_piggy" class="btn btn-large btn-info">Wypłać pieniądze</button>
      </div>
     </div>
    </form>

   </div><img src="{% static 'img/piggybank.png' %}" >
  </div>
 </div>
</div>
<br>


            <h3>Kalkulator oszczędności - oblicz ile możesz zgromadzić pieniędzy</h3><hr><br>



 <form class="form-horizontal" method="post" action="savings" >{% csrf_token %}{{form}}
     <div class="form-group ">

      <label class="control-label col-sm-5" for="kwota_deklarowana">Kwota odkładana co miesiąc</label>
      <div class="col-sm-3">
		  <input class="form-control" id="kwota_deklarowana" name="kwota_deklarowana" placeholder="100" type="number" step="0.01" min="0"  required/>
      </div>
     </div>

   <div class="form-group ">
      <label class="control-label col-sm-5" for="okres_oszczedzania">Okres oszczędzania (w latach)</label>
      <div class="col-sm-3">
		  <input class="form-control" id="okres_oszczedzania" name="okres_oszczedzania" placeholder="2" type="number" step="0.01" min="0"   required/>
      </div>
     </div>


	 <div class="form-group ">
      <label class="control-label col-sm-5" for="stopa_procentowa">Roczna stopa procentowa (%)</label>
      <div class="col-sm-3">
		  <input class="form-control" id="stopa_procentowa" name="stopa_procentowa" placeholder="6" type="number" step="0.01" min="0"  required/> * Comiesięczna kapitalizacja odsetek
      </div>
     </div>


	  <div class="form-group ">
      <label class="control-label col-sm-5" for="savings"></label>
      <div class="col-sm-3">
 		<button type="submit" name="savings" class="btn btn-large btn-info">Pokaż wyniki</button>
      </div>
     </div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<br>
<div id="container" style="min-width: 810px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
     <script>
Highcharts.chart('container', {

    title: {
        text: 'Zysk ze zgromadzonych pieniędzy'
    },

    subtitle: {
        text: '* comiesięczna kapitalizacja odsetek'
    },

    yAxis: {
        title: {
            text: 'Kwota'
        }
    },

    xAxis: {
        title: {
            text: 'Ilość miesięcy'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 1
        }
    },

    series: [{
        name: 'Wpłacono',
        data: {{wplacono}}
    }, {
        name: 'Na koncie',
        data: {{na_koncie}}
    }, ]

});


     </script>



</form>
</div></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
